
<link />

<div class="container">
    <br/>
    <h3>Plan Adı : @ViewBag.v1</h3>
    <h3>Kişi Sayısı : @ViewBag.v2</h3>
    <h3>Plan Fiyatı : @ViewBag.v3</h3>
    <h3>Plan İçeriği : @ViewBag.v4</h3>
    <h3>Plan Çözünürlüğe : @ViewBag.v5</h3>
    <a href="/Default/StandartPlanIndex" class="btn btn-warning">Standart Plan</a>
</div>